{% extends "layout.html" %}
{% block body %}
    <div class="mx-auto" style="width: auto">
        <div class="col text-center"></div>
            <h1 class="text-center">{{ user.name }}のタイムライン</h1>

            <ul class="list-group text-center">
                {% for baboo in data[::-1] %}
                    <li class="list-group-item">
                        <a href="{{ url_for('user_baboo', user_name=baboo.name) }}">
                            <h3>{{ baboo.name }}</h3>
                        </a><br>
                        {{ baboo.text }}<br>
                        {% if user.name == baboo.name %}
                            <a href="{{ url_for('write_remove', data_id=baboo.id) }}">取り消す</a>
                        {% endif %}
                    </li>
                {% else %}
                    <li>
                        <h3>上の「バブる!」から投稿して、産声を上げよう</h3>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}